<%-include('partials/headerhome.ejs');-%>

<div class="wrap">
    <a href="/register" class="button">Register</a>
    <a href="/signin" class="button2">Sign In</a>
</div>


<%-include('partials/footer.ejs');-%>