<%- include('partials/headercontact.ejs'); %>

<h1 style="color: black; text-align: center;">Your Order has been Confirmed!</h1>
<p style="color: black; text-align: center;">Thank you for booking with us! You will be notified when the service is scheduled.</p>

<%- include('partials/footer.ejs'); %>
