<%-include('partials/headerhome.ejs');-%>

<div class="wrap">
    <a href="/registervendor" class="button">Register as Vendor</a>
    <a href="/registeruser" class="button2">Register as User</a>
</div>


<%-include('partials/footer.ejs');-%>