<%-include('partials/headercontact.ejs');-%>

<h1 style="text-align: center; color: #7E60BF;">As a Vendor Add Services.</h1>
<br><br>
<div style="background-color: #7E60BF; width: 200px; border-radius: 10px; height: 50px; margin-left: 43.5%;">
  <a class="add-service" href="/add-service" style="color: #EBEAFF;">Add Service</a>
  
</div><br>
<div style="background-color: #7E60BF; width: 200px; border-radius: 10px; height: 50px; margin-left: 43.5%;">
  <a class="add-service" href="/view-service" style="color: #EBEAFF;">View Service</a>
  
</div>

<%-include('partials/footer.ejs');-%>

  
