<%-include('partials/headerhome.ejs');-%>

<div class="wrap">
    <a href="/signvendor" class="button">SignIn as Vendor</a>
    <a href="/signuser" class="button2">SignIn as User</a>
</div>


<%-include('partials/footer.ejs');-%>